*{
    border: 0;
   padding: 0;margin: 0;
}
.navbar{
    background-color:rgb(33, 108, 248);
    height: 50px;
    display: flex;align-items: center;
}
.header1 img{width: 65px;
    padding:0px 390px;
}
.header2 {
   width:170px;
}.header2 input{
    width: 340px;
    padding: 11px;
    margin-left: -390px;
}.header2 button{
    color:blue;
    padding:4px;
    margin-left: 62px;
    width: 120px;
    background-color: white;
}
.header2 button:hover{
    background-color: gray;
}
.header3 p{
    color:white;
    display: inline-block;
    margin-right: 50px;
}.cart img{width:20px;padding:30px
   
}
.section {
    display: flex;justify-content: space-evenly;
    
}.section img{
    width:50px;
}.section p:hover{color: blue;}
/* offers */
.offers{
    margin-bottom:20px;
}
.offers img{
    border: 15px solid rgb(226, 234, 241);
    width:1505px;
    height: 305px;
    margin-top: 20px;
}
.products{
    display: flex;
    justify-content: space-evenly;
}
.products img{
    width: 180px;
}
.p1 img{
    height: 138px;
}
.p1 p:nth-child(2){
    font-weight: bolder;
}
.p1 p:nth-child(4){
    color:rgb(2, 103, 2);
}
.p1 p:nth-child(5){
    color:rgb(143, 140, 140);
}
.p2 img{ 
    width: 80px;
}
.p2 p:nth-child(2){
    font-weight: bolder;
}
.p2 p:nth-child(4){
    color:rgb(2, 103, 2);
}
.p2 p:nth-child(5){
    color:rgb(143, 140, 140);
}
.p3 p:nth-child(2){
    font-weight: bolder;
}
.p3 p:nth-child(4){
    color:rgb(2, 103, 2);
}
.p3 p:nth-child(5){
    color:rgb(143, 140, 140);
}
.p3 p:nth-child(2){
    font-weight: bolder;
}
.p4 img{
    height: 140px;}
.p4 p:nth-child(2){
    font-weight: bolder;
}
.p4 p:nth-child(4){
    color:rgb(2, 103, 2);
}
.p4 p:nth-child(5){
    color:rgb(143, 140, 140);
}






